<!-- DataTables -->
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><%= title %></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card" style="width: 98%; margin-left: 1%; margin-right: 1%;">
        <div class="card-body">
            <button style="margin-bottom: 20px; width: 150px;" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#add_modal" onclick="getData()"><span class="fa f-plus"> Tambah</span></button>
            <br>
            <table class="table table-striped table-bordered" style="width:100%" id="datatables">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Nama Mahasiswa</th>
                        <th>Nama Penguji</th>
                        <th>Tanggal</th>
                        <th>Jam</th>
                        <th>status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Add -->
<div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Calon Mahasiswa</label>
                        <select class="form-control" name="v_mahasiswa" id="v_mahasiswa">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Penguji</label>
                        <select class="form-control" name="v_penguji" id="v_penguji">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Tanggal</label>
                        <input type="date" class="form-control" name="v_tanggal" id="v_tanggal">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Jam</label>
                        <input type="time" class="form-control" name="v_jam" id="v_jam">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="add_button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="assets/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="assets/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="assets/admin/dist/js/adminlte.js"></script>
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>\
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    var dataTables = {
        init: function () {
            $(document).ready(function () {
                $('#datatables').DataTable({
                    processing: true,
                    // "serverSide": true,
                    ajax: {
                        url: "/Mjadwal",
                        dataType: "json",
                        type: "POST"
                    },
                    columns: [
                        // {data: "idMahasiswa"},
                        {
                            data: "namaLengkap",
                            width: '200px'
                        },
                        {
                            data: "namaPenguji"
                        },
                        {
                            data: "tanggal",
                            width: '100px'
                        },
                        {
                            data: "jam"
                        },
                        {
                            data: "status",
                            render: function (sts) {
                                if (sts == 4) {
                                    return 'Belum Selesai!'
                                } else {
                                    return "Sudah Selesai!"
                                }
                            },
                            width: '200px'
                        },
                        {
                            data: "idJadwal",
                            render: function (id, display, data) {
                                var but = '';
                                if (data.status == 4) {
                                    but =
                                        '<button type="button" class="btn btn-success" onclick="selesai(\'' +
                                        data.idMahasiswa + '\')">Selesai</button>';
                                } else {
                                    but = '';
                                }
                                return but;
                            },
                            width: '100px'
                        },
                    ]
                });
            });
        }
    }

    jQuery(document).ready(function () {
        dataTables.init();
    });

    function getData() {
        $.ajax({
            type: "post",
            url: "/Mjadwal/getMhs",
            dataType: "json",
            success: function (res) {
                if (res.code === 200) {
                    var optMhs = '';
                    optMhs += '<option value="" hidden>--Pilih Mahasiswa--</option>';
                    for (var i = 0; i < res.data.length; i++) {
                        optMhs += '<option value="' + res.data[i].idMahasiswa + '">' + res.data[i]
                            .namaLengkap + '</option>';
                    }
                    $("#v_mahasiswa").html(optMhs);
                    $.ajax({
                        type: "post",
                        url: "/Mjadwal/getPnj",
                        dataType: "json",
                        success: function (rs) {
                            if (rs.code === 200) {
                                var optPnj = '';
                                optPnj += '<option value="" hidden>--Pilih Penguji--</option>';
                                for (var i = 0; i < rs.data.length; i++) {
                                    optPnj += '<option value="' + rs.data[i].idPenguji + '">' +
                                        rs.data[i]
                                        .namaPenguji + '</option>';
                                }
                                $("#v_penguji").html(optPnj);
                            }
                        }
                    })
                }
            }
        })
    }

    function selesai(id) {
        swal({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then(function (e) {
            if (e) {
                $.ajax({
                    type: "post",
                    url: "/Mjadwal/selesai",
                    dataType: "json",
                    data: {
                        id: id
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            swal({
                                title: "Success!",
                                text: res.message,
                                icon: "success",
                                button: "Close!",
                            }).then(function () {
                                $('#datatables').DataTable()
                                    .ajax.reload();
                            })
                        } else {
                            swal({
                                title: "Server Error!",
                                text: res.message,
                                icon: "error",
                                button: "Close!",
                            })
                        }
                    }
                })
            }
        })
    }

    $(document).ready(function () {
        $("#add_button").click(function () {
            var type = "POST";
            var url = "/Mjadwal/save";
            var data = $("#add_form").serialize();
            $.ajax({
                type: type,
                url: url,
                dataType: "json",
                data: data,
                success: function (res) {
                    if (res.code === 200) {
                        swal({
                            title: "Success!",
                            text: res.message,
                            icon: "success",
                            button: "Close!",
                        }).then(function () {
                            $('#add_form')[0].reset();
                            $("#add_modal").modal('hide');
                            $('#datatables').DataTable()
                                .ajax.reload();
                        })
                    } else {
                        swal({
                            title: "Server Error!",
                            text: res.message,
                            icon: "error",
                            button: "Close!",
                        });
                    }
                }
            })
        });
    });
</script>