<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="./assets/admin/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./assets/admin/dist/css/dataTables.bootstrap4.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><%= title %></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card" style="width: 98%; margin-left: 1%; margin-right: 1%;">
        <div class="card-body">
            <table class="table table-striped table-bordered" style="width:100%" id="datatables">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Nama Mahasiswa</th>
                        <th>Tanggal Ujian</th>
                        <th>Total Nilai</th>
                        <th>Status Nilai</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Add -->
<div class="modal fade" id="modal_lulus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="lulus_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="v_id" id="v_id" readonly>
                        <input type="hidden" class="form-control" name="v_idMhs" id="v_idMhs" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Calon Mahasiswa</label>
                        <input type="text" class="form-control" name="v_nama" id="v_nama" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
                        <input type="text" class="form-control" name="" id="" value="Diluluskan" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Nilai</label>
                        <input type="text" class="form-control" name="v_nilai" id="v_nilai">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="add_button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="assets/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="assets/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="assets/admin/dist/js/adminlte.js"></script>
<!-- Sweet Alert -->
<script src="./assets/admin/dist/js/sweetalert.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" src="./assets/admin/dist/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="./assets/admin/dist/js/dataTables.bootstrap4.min.js"></script>
<script>
    var dataTables = {
        init: function () {
            $(document).ready(function () {
                $('#datatables').DataTable({
                    processing: true,
                    // "serverSide": true,
                    ajax: {
                        url: "/Mkeputusan",
                        dataType: "json",
                        type: "POST"
                    },
                    columns: [
                        // {data: "idMahasiswa"},
                        {
                            data: "namaLengkap",
                            width: '200px'
                        },
                        {
                            data: "tanggal",
                            render: function (tg) {
                                var date = new Date(tg)
                                yr = date.getFullYear(),
                                    mt = date.getMonth() + 1
                                month = mt < 10 ? '0' + mt : mt;
                                dy = date.getDate() < 10 ? '0' + date.getDate() : date
                                    .getDate();;
                                var tgl = (yr) + '-' + (month) + '-' + (dy);
                                return tgl
                            },
                            width: '150px',
                            align: 'center'
                        },
                        {
                            data: "nilai",
                            width: '100px'
                        },
                        {
                            data: "nilai",
                            render: function (sts) {
                                if (sts > 50) {
                                    return "Lulus"
                                } else {
                                    return "Tidak Lulus"
                                }
                            },
                            width: '200px'
                        },
                        {
                            data: "status",
                            render: function (sa) {
                                if (sa == 0) {
                                    return "Menunggu"
                                } else if (sa == 1) {
                                    return "Lulus"
                                } else if (sa == 2) {
                                    return "Diluluskan"
                                } else {
                                    return "Gagal"
                                }
                            },
                            width: '200px'
                        },
                        {
                            data: "idUjianH",
                            render: function (id, display, data) {
                                var but = '';
                                if (data.status == 0) {
                                    but =
                                        '<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_lulus" onclick="getData(\'' +
                                        id +
                                        '\')">Lulus</button> | <button type="button" class="btn btn-danger" onclick="gagal(' +
                                        id + ')">Gagal</button>';
                                } else {
                                    but = '';
                                }
                                return but;
                            },
                            width: '200px'
                        },
                    ]
                });
            });
        }
    }

    jQuery(document).ready(function () {
        dataTables.init();
    });

    function getData(id) {
        $.ajax({
            url: "/Mkeputusan/getData",
            type: "post",
            dataType: "json",
            data: {
                id: id
            },
            success: function (res) {
                if (res.code == 200) {
                    for (var i = 0, j = res.data.length; i < j; i++) {
                        $("#v_id").val(res.data[i].idUjianH)
                        $("#v_idMhs").val(res.data[i].idCmhs)
                        $("#v_nama").val(res.data[i].namaLengkap)
                        $("#v_nilai").val(res.data[i].nilai)
                    }
                }
            }
        })
    }

    $(document).ready(function () {
        $("#add_button").click(function () {
            swal({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (e) {
                if (e) {
                    $.ajax({
                        url: "/Mkeputusan/lulus",
                        type: "post",
                        dataType: "json",
                        data: $("#lulus_form").serialize(),
                        success: function (res) {
                            if (res.code == 200) {
                                swal({
                                    title: "Success!!",
                                    text: res.message,
                                    icon: "success",
                                    button: "Close"
                                }).then(function () {
                                    $('#lulus_form')[0].reset();
                                    $("#modal_lulus").modal('hide');
                                    $('#datatables').DataTable()
                                        .ajax.reload();
                                })
                            } else {
                                swal({
                                    title: "Error!!",
                                    text: res.message,
                                    icon: "error",
                                    button: "Close"
                                })
                            }
                        }
                    })
                }
            })
        })
    })

    function gagal(id) {
        swal({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then(function (e) {
            if (e) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Mkeputusan/gagal",
                    data: {
                        id: id
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            swal({
                                title: "Success!",
                                text: res.message,
                                icon: "success",
                                button: "Close!",
                            }).then(function () {
                                $('#datatables').DataTable()
                                    .ajax.reload();
                            })
                        } else {
                            swal({
                                title: "Error!",
                                text: res.message,
                                icon: "error",
                                button: "Close!",
                            })
                        }
                    }
                })
            }
        })
    }
</script>