<!-- DataTables -->
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><%= title %></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="callout callout-info" style="display: none;">
                        <h5><i class="fas fa-info"></i> Warning:</h5>
                        Menu jadwal belum tersedia, mohon lakukan pembayaran dan tunggu konfirmasi dari admin.
                    </div>

                    <!-- Main content -->
                    <div class="invoice p-3 mb-3" style="display: none;">
                        <div class="callout callout-info">
                            <h5><i class="fas fa-info"></i> Warning:</h5>
                            Pembayaran telah sukses, mohon tunggu konfirmasi dari admin apabila jadwal belum muncul.
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" id="datatables">
                                    <thead>
                                        <tr>
                                            <!-- <th>#</th> -->
                                            <th>Nama Mahasiswa</th>
                                            <th>Nama Penguji</th>
                                            <th>Tanggal</th>
                                            <th>Jam</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<!-- /.content-wrapper -->

<!-- jQuery -->
<script src="assets/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="assets/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="assets/admin/dist/js/adminlte.js"></script>
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>\
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    var dataTables = {
        init: function () {
            $(document).ready(function () {
                $('#datatables').DataTable({
                    processing: true,
                    // "serverSide": true,
                    ajax: {
                        url: "/Mjadwal/getCl",
                        dataType: "json",
                        type: "POST",
                        data: {
                            id: "<%= idMhs %>"
                        }
                    },
                    columns: [
                        // {data: "idMahasiswa"},
                        {
                            data: "namaLengkap",
                            width: '200px'
                        },
                        {
                            data: "namaPenguji"
                        },
                        {
                            data: "tanggal",
                            width: '100px',
                            render: function(tg) {
                                var date = new Date(tg);
                                var yr  = date.getFullYear();
                                var mt = date.getMonth() + 1
                                var month   = mt < 10 ? '0' + mt : mt;
                                var day     = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate();
                                var newDate = day + '-' + month + '-' + yr;
                                return newDate;
                            }
                        },
                        {
                            data: "jam"
                        },
                        {
                            data: "status",
                            render: function (sts) {
                                if (sts == 4) {
                                    return 'Belum Selesai!'
                                } else {
                                    return "Sudah Selesai!"
                                }
                            },
                            width: '200px'
                        },
                    ]
                });
            });
        }
    }

    jQuery(document).ready(function () {
        dataTables.init();
    });

    $(document).ready(function () {
        $.ajax({
            url: "/Mjadwal/cekSts",
            dataType: "json",
            type: "POST",
            data: {
                id: "<%= idMhs %>"
            },
            success: function (res) {
                if (res.code == 200) {
                    for (var i = 0; i < res.data.length; i++) {
                        if (res.data[i].status >= 3) {
                            $(".invoice").show()
                        } else {
                            $(".callout").show()
                        }
                    }
                }
            }
        })
    })
</script>